@font-face {
    font-family: 'Bodoni';
    src: url('./fonts/BodoniFLF-Roman.ttf');
}

@font-face {
    font-family: 'CopperPlate Gothic';
    src: url('./fonts/Copperplate.ttf');
}

@font-face {
    font-family: 'Garamond';
    src: url('./fonts/Garamond.ttf');
}

@font-face {
    font-family: 'Edwardian';
    src: url('./fonts/Edwardian.ttf');
}

@font-face {
    font-family: 'Helvetica';
    src: url('./fonts/Helvetica.ttf');
}